article {
  border-left:7px solid $col-tertiary;
  padding: 3px 10px;
  margin: 15px 0;
  background-color: $col-white;
  h2.entry-title {
    margin: 0;
    a {
      color: $col-tertiary;
      &:hover {
        text-decoration: none;
      }
    }
  }
  p.entry-meta {
    font-weight: 400;
    font-size: 12px;
    a {
      color: $col-tertiary;
      &:hover {
        color: $col-primary;
      }
    }
  }
  .post-author {
    display: table;
    margin: 20px 0;
    padding: 7px;
    border: 1px solid $col-tertiary;
    .author-image {
      width: 12%;
      vertical-align: top;
      display: table-cell;
      img {
        border-radius: 50%;
      }
    }
    .author-info {
      width: 88%;
      vertical-align: top;
      display: table-cell;
      padding-left: 20px;
      .author-name {
        font-size: 1.2em;
        text-transform: uppercase;
      }
      .author-description {
        line-height: 1.5em;
        font-size: 13px;
        font-weight: 300;
      }
    }
  }
}
body.single {
  article {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}